URxvt*termName:rxvt-unicode-256color
Xft.antialias:  true
!Xft.autohint:   true
Xft.hinting:    true
Xft.hintstyle:  hintslight
!Xft.lcdfilter:  lcdlight
Xft.rgba:       rgb
Xft.dpi:        96

URxvt*transparent:false


!*foreground:#c5c8c6
!*background:#151515
URxvt.cursorColor:#505050
!*color0:#282a2e
!*color1:#a54242
!*color2:#8c9440
!*color3:#de935f
!*color4:#5f819d
!*color5:#85678f
!*color6:#5e8d87
!*color7:#707880
!*color8:#505050
!*color9:#cc6666
!*color10:#b5bd68
!*color11:#f0c674
!*color12:#81a2be
!*color13:#b294bb
!*color14:#8abeb7
!*color15:#c5c8c6
!*color16:#d28445
!*color17:#8f5536
!*color18:#202020
!*color19:#303030
!*color20:#b0b0b0
*background: #1D1F21
*foreground: #C5C8C6
!black
*color0: #282A2E
*color8: #373B41
! red
*color1: #A54242
*color9: #CC6666
! green
*color2: #8C9440
*color10: #B5BD68
! yellow
*color3: #DE935F
*color11: #F0C674
! blue
*color4: #5F819D
*color12: #81A2BE
! magenta
*color5: #85678F
*color13: #B294BB
! cyan
*color6: #5E8D87
*color14: #8ABEB7
! white
*color7: #707880
*color15: #C5C8C6

!Fonts
URxvt*font:xft:EnvyCodeR:pixelsize=11:antialias=true:hinting=true,xft:Inconsolata-g:pixelsize=11:antialias=true:hinting=true

!Say no to scrollbars
URxvt*scrollBar:false


! Size of my terminal
!URxvt.geometry:79x24
URxvt.imLocale:en_US.UTF8

URxvt*skipBuiltinGlyphs: true
!
! Amount that I can scroll up
URxvt.saveLines: 12000

! Underline URLs
URxvt.underlineURLs:true

! Add color to my!man pages:
URxvt.colorIT: #87af5f
URxvt.colorBD: #d7dfdf
!URxvt.colorUL:

