Package: rxvt-unicode-lite
Source: rxvt-unicode
Version: 9.20-1
Architecture: amd64
Maintainer: Ryan Kavanagh <rak@debian.org>
Installed-Size: 2401
Depends: libc6 (>= 2.17), libgcc1 (>= 1:4.1.1), libx11-6, libxrender1, base-passwd (>= 2.0.3.4), ncurses-base (>= 5.4-7)
Conflicts: rxvt-unicode
Provides: rxvt-unicode, x-terminal-emulator
Section: x11
Priority: optional
Homepage: http://software.schmorp.de/pkg/rxvt-unicode.html
Description: RXVT-like terminal emulator with basic Unicode support
 rxvt-unicode is a modern, Unicode-aware color xterm replacement that uses
 significantly less memory than a conventional xterm and many other Unicode
 supporting terminal emulators.
 .
 It supports using multiple fonts at the same time, including Xft fonts, and
 client-server technology to reduce memory consumption when using multiple
 windows.
 .
 This package contains the small version with only a few extra features and
 without Freetype support.
