Package: rxvt-unicode-256color
Source: rxvt-unicode
Version: 9.20-1
Architecture: amd64
Maintainer: Ryan Kavanagh <rak@debian.org>
Installed-Size: 3156
Depends: libc6 (>= 2.17), libfontconfig1 (>= 2.11), libfreetype6 (>= 2.2.1), libgcc1 (>= 1:4.1.1), libgdk-pixbuf2.0-0 (>= 2.22.0), libglib2.0-0 (>= 2.12.0), libperl5.20 (>= 5.20.2), libstartup-notification0 (>= 0.2), libx11-6, libxft2 (>> 2.1.1), libxrender1, base-passwd (>= 2.0.3.4), ncurses-term (>= 5.8-1)
Recommends: ttf-dejavu, fonts-vlgothic | fonts-japanese-gothic
Conflicts: rxvt-unicode
Provides: rxvt-unicode, x-terminal-emulator
Section: x11
Priority: optional
Homepage: http://software.schmorp.de/pkg/rxvt-unicode.html
Description: multi-lingual terminal emulator with Unicode support for X11
 rxvt-unicode is a modern, Unicode-aware color xterm replacement that uses
 significantly less memory than a conventional xterm and many other Unicode
 supporting terminal emulators.
 .
 It supports using multiple fonts at the same time, including Xft fonts, and
 client-server technology to reduce memory consumption when using multiple
 windows.
 .
 This package is configured with 256-color support, and TERM set to
 "rxvt-unicode-256color". Any other systems you log into must have this
 terminfo entry installed!
