table.app-browser {
	width: 100%;
	margin: 0;
	border: 1px solid #d7d7d7;
	min-width: 576.7px;
}

table.app-browser > thead > tr > th {
	font-weight: normal;
	font-size: 1em;
}

table.app-browser > tbody > tr > td {
	padding: 0;
	margin: 0;
}

table.app-browser > tbody > tr:last-child > td > table {
	border-bottom: none;
}

.app-browser .app-toggles-divs {
	text-align: left;
	vertical-align: middle;
	padding: 0;
	border-top: 1px solid #d7d7d7;
	padding-left: 55px;
}

.app-browser .app-toggles-divs a {
	font-weight: normal;
	float: left;
}

.vr {
	float: left;
	height: 15px;
	border-left: 1px solid #d7d7d7;
	margin: 0 15px;
}

.app-browser .category-row {
	border-top: 1px solid #d7d7d7;
	width: 100%;
	cursor: pointer;
}

.app-browser .category-row > tbody > tr {
	height: 40px;
}

.app-browser .category-row > tbody > tr > td {
	border: none;
	vertical-align: middle;
}

.app-browser #trackers > tr:nth-of-type(1) > td > .category-row {
	border-top: none;
}

.app-browser .category-arrow {
	width: 55px;
	text-align: center;
	margin: 0;
	padding: 0;
	background: url('../images/panel/tracker/arrow_up_off.png') no-repeat center;
	-webkit-transition: -webkit-transform .2s;
	-moz-transition: -moz-transform .2s;
	-ms-transition: -ms-transform .2s;
	-o-transition: -o-transform .2s;
	transition: transition .2s;
}

.app-browser .category-arrow.down {
	-moz-transform: rotateZ(90deg);
	-webkit-transform: rotateZ(90deg);
	-o-transform: rotateZ(90deg);
	-ms-transform: rotateZ(90deg);
	transform: rotateZ(90deg);
}

.app-browser .app-arrow {
	width: 55px;
	text-align: center;
	margin: 0;
	padding: 0;
}

.app-browser .category-checkbox {
	width: 30px;
	text-align: left;
	margin: 0;
	padding: 0;
}

.app-browser .category-checkbox input {
	margin: 0;
	padding: 0;
}

.app-browser .app-checkbox {
	width: 30px;
	text-align: left;
	margin: 0;
	padding: 0;
}
.app-browser .app-checkbox input {
	margin: 0;
	padding: 0;
}

.app-browser .category-name {
	width: 100px;
	text-align: left;
	font-size: 1em;
	font-weight: bold;
}

.app-browser .category-stats {
	font-size: .8125em;
	padding: 0 0 0 10px;
}

.app-browser .app-filters-divs {
	text-align: right;
	vertical-align: top;
}

.app-browser .app-toggles {
	text-align: left;
	vertical-align: middle;
	height: 40px;
	color: #00b5f0;
	cursor: pointer;
	border-bottom: 1px solid #d7d7d7;
	margin-left: 55px;
}

.apps-row {
    width: 100%;
}

.apps-row-container {
	max-height: 400px;
	overflow: auto;
	border-bottom: 1px solid #d7d7d7;
}

.app-browser .apps-row-container:last-child {
	border-top: 1px solid #d7d7d7;
	border-bottom: none;
}

.app-row {
	height: 40px;
	border: none;
}

.app-row-name {
	padding-top: 4px;
}

.app-row-name a {
	font-weight: normal;
	font-size: 1em;
}

.alt-row {
	background-color: #ecf6fc;
}

.hidden	{
	display: none;
}

.app-browser .category-row:hover, .hover {
	background-color: #00B5F0;
	box-shadow: 0 1px 4px 0 #ccc;
	color: #fff;
}

.app-browser .category-row:hover .help, .hover .help {
	border-color: #fff;
}

#no-results {
	display: none;
	width: 100%;
}

#no-results td {
	text-align: center;
	font-weight: normal;
	font-size: 1em;
	height: 40px;
}

.app-info {
	padding: 0 10px 0 85px;
	font-size: .9em;
	border-bottom: 1px solid #d7d7d7;
	box-shadow: inset 0 2px 4px 0 #ccc;
}

.app-info h1 {
	font-size: 1em;
}

.app-info h2 {
	display: inline-block;
	font-size: .9em;
}

.app-info a {
	font-size: .9em;
}

.app-info p {
	font-size: .9em;
}

.company-logo {
	float: right;
}

#block-status {
	font-size: .9em;
}

#app-list-filter-type {
	width: 66%;
	height: 30px;
	margin: 0;
	padding: 5px 0 0 1%;
	font: inherit;
	font-weight: normal;
	color: inherit;
}

.app-list-filter-name {
	width: 65%;
	height: 30px;
	margin: 0;
	padding: 0 0 0 1%;
	border: 1px solid #d7d7d7;
	font: inherit;
	font-weight: normal;
	color: inherit;
}

#app-list-table > thead table tr:nth-of-type(1) > td {
	text-align: left;
}

#app-list-filter-type option, #whitelist option {
	margin: 0;
	padding: 0;
	height: 22px;
	padding-top: 8px;
	font: inherit;
}

#whitelist option {
	padding-left: 10px;
	font: inherit;
	font-weight: bold;
}

#app-list-reset-search {
	display: none;
	background: url('../images/panel/tutorial/sprite_images/sprite/sprite_images.png') no-repeat center;
	background-position: -20px -20px;
	height: 20px;
	width: 20px;
	position: absolute;
	right: 0;
	cursor: pointer;
}

.loading {
	background: url('../images/spinner.gif') no-repeat 50% 50%;
}
