Package: rxvt-unicode-ml
Source: rxvt-unicode
Version: 9.20-1
Architecture: amd64
Maintainer: Ryan Kavanagh <rak@debian.org>
Installed-Size: 72
Depends: rxvt-unicode (>= 9.10-2)
Section: oldlibs
Priority: extra
Homepage: http://software.schmorp.de/pkg/rxvt-unicode.html
Description: multi-lingual terminal emulator -- transitional package
 This is a transitional package depending on rxvt-unicode. Previously, some
 features were disabled in the regular package because they used more memory
 even when not being used, but this is no longer the case. All features
 previously enabled only in this package are now available in rxvt-unicode.
